@using System.Globalization
@model StringResourceEditModel
@{
    var cultureInfo = (CultureInfo)ViewBag.CultureInfo;
    var language = (LanguageViewModel)ViewBag.Language;

    ViewData["Title"] = @Localize["StringResources.Edit.Title", arguments: Model.Name];
}

<h3 class="mb-3">@Localize["StringResources.List.Heading"]</h3>
<form method="post" data-track="form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-floating">
                <input asp-for="Name" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Name)" />
                <label asp-for="Name"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-floating mt-3">
                <input asp-for="Value" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Value)" />
                <label asp-for="Value"></label>
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>

            <div class="form-check mt-3">
                <input asp-for="IsApproved" class="form-check-input" type="checkbox" value="true">
                <label asp-for="IsApproved" class="form-check-label"></label>
                <span asp-validation-for="IsApproved" class="text-danger"></span>
            </div>
        </div>
    </div>
    <partial name="_EditButtonsPartial" />
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
    @section Submenu{
    <div class="row py-3 align-items-center">
        <div class="col-md-6 mb-2 mb-md-0">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">
                        <a asp-action="Index" asp-controller="Home">@Localize["Breadcrumb.Home.Index"]</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <a asp-action="List" asp-controller="Languages">@Localize["Breadcrumb.Languages.List"]</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <a asp-action="Details" asp-controller="Languages" asp-route-id="@language.Id">
                            @Localize["Breadcrumb.Languages.Details", arguments: cultureInfo.DisplayName]
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <a asp-action="List" asp-route-culture="@language.Culture">
                            @Localize["Breadcrumb.StringResources.List"]
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        @Localize["Breadcrumb.StringResources.Edit", arguments: Model.Name]
                    </li>
                </ol>
            </nav>
        </div>
        <div class="col-md-6 text-end">
            <a class="btn btn-dark" asp-action="List" asp-route-culture="@Context.GetRouteValue("culture")">@Localize["Submenu.StringResources.List.Button"]</a>
        </div>
    </div>
}
